.product{
    width: 200px;
    height: 300px;
    background: #cdedc1;
    margin: 20px 0 20px 0;
    text-decoration: none;
    color: black;
    
}


.product{
    display: flex;
    flex-direction: column
}
.product__img{
    height: 200px;
    width: 100%;
}
.product__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0 ;
}
.product__text{
    margin: 10px 0 0 0 ;
}
.product__name{
    font-weight: 500;
    margin: 10px 20px 0 0;
    max-width: 100px;
    text-overflow:ellipsis;
    overflow:hidden;
    overflow-wrap: anywhere;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.product__info--btn{
    border: none;
    border-radius: 4px;
    background: #EA5D5D;
    color: white;
    padding: 5px 8px;
    font-size: 13px;
    margin: 5px 0 15px 0;
    text-decoration: none;
    
}

.product__info--btn:hover{
    background:red ;
}
.product__info--wrap{
    display: flex;
}
.button__wrap{
    display: flex;
    


}
.button__wrap--delete{
    margin: 5px 0 0 15px;
    color : rgb(252, 0, 0);
    font-weight: 600;
}