.order__card{
    display: flex;
    max-height: 200px;
    background: white;
    padding: 20px 60px;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top:40px;
    text-decoration: none;
    color: black;
}
.order__catd--wrap{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 100px;

}
.order__card--span{
    margin-top: 20px;
    font-size: 25px;
}