.order__card{
    display: flex;
    max-height: 200px;
    background: white;
    padding: 20px 0;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top:40px;
}
.order__catd--wrap{
    display: flex;
    align-items: center;

}
.order__card--span{
    margin-top: 20px;
    font-size: 25px;
}