.site_main{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
.main__time{
    font-size: 22px;
    margin-bottom: 40px;
}
.main__products{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 40px;
}
.main__total-cost{
    font-size: 22px;
}